#th
{
    max-width: 600px;
    max-height: 600px;
}

.main
{
    margin-left: 20px;
    margin-bottom: 5%;
}

#gallary
{
    margin-top: 10%;
    margin-left: 40%;
}


#mg
{
    margin-top: 10%;
}


#main img
{
    width: 100%;
    height: 100%;
}

#main .port-item
{
    width: 30%;
}

#main .port-item:hover
{
    opacity: 0.8;
    cursor: pointer;
}


.add_img
{
    margin-left: 48%;
    margin-top: 15%;
    margin-right: 35%;
}

#btn1
{
    width: 120px;
    height: 120px;
    border-radius: 100%;
}

@media (max-width :990px)
{
    .add_img
    {
        margin-left: 40%;
    }
}

.line
{
    width: 10%;
    visibility: hidden;
}

/*#mg img
{
    width: 100%;
    height: 100%;
}*/


.mat
{
    width: 15%;   
}

.mat:hover
{
    opacity: 0.8;
    cursor: pointer;
}


.mjs
{
    margin-top: 15%;
}

.mah
{
    margin-top: 5%;
    margin-bottom: 5%;
    visibility: hidden;
}


.tof
{
    border: 1px solid transparent;
    margin-left: 20%;
    margin-right: 20%;
}

.tof:hover
{
    opacity: 0.9;
    cursor: pointer;
}


.sak
{
    border: 1px solid transparent;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
}

.sak:hover
{
    cursor: pointer;
    opacity: 0.9;
}

#poj
{
    margin-top: 5%;
    margin-bottom: 5%;
    visibility: hidden;
}

.dea
{
    margin-top: 5%;
    margin-left: 40%;
    margin-right: 35%;
    border-radius: 2%;
}

#ti
{
    text-align: center;
}



#tet
{
    margin-right: 30%;
}

